<mat-card
    *ngIf="user?.id"
    fxLayout="row"
    fxLayoutAlign="space-between"
    class="card"
    (click)="onClickToDetails()"
>
    <div fxLayout="row">
        <app-profile-picture
            [profilePicture]="user?.profilePicture"
        ></app-profile-picture>
        <mat-card-header>
            <mat-card-title>{{ user?.displayedName }}</mat-card-title>
            <mat-card-subtitle
                fxLayout
                fxLayoutAlign="start center"
                fxLayoutGap="12px"
                ><div>{{ user?.birthPlace }}</div>
                <app-position [position]="user?.position"></app-position
            ></mat-card-subtitle>
        </mat-card-header>
    </div>
</mat-card>
