:host {
    .card {
        padding: 16px 16px 0px;
        border-bottom: 1px solid #0000001f;
        &:hover {
            background-color: #fafafa;
        }
    }
    .image {
        width: 44px;
        height: 44px;
        border-radius: 100%;
    }
}
