<mat-card
    *ngIf="user?.id"
    fxLayout="row"
    fxLayoutAlign="space-between"
    class="card"
    (click)="onClickToDetails()"
>
    <div fxLayout="row">
        <app-profile-picture
            [profilePicture]="user?.profilePicture"
        ></app-profile-picture>
        <mat-card-header>
            <mat-card-title>{{ user?.stageName }}</mat-card-title>
            <mat-card-subtitle
                >{{ user?.birthPlace }}&nbsp;&nbsp;{{
                    user?.position
                }}</mat-card-subtitle
            >
        </mat-card-header>
    </div>
</mat-card>
