:host {
    .no-matching-users {
        max-width: 100%;
        width: 630px;
        background-color: #ececec;
        text-align: center;
        color: #7a7a7a;
        margin: 24px auto;
        padding: 12px;
        border-radius: 24px;
    }

    .mobile {
        width: 90vw;
    }
}
