:host {
    ::ng-deep .mat-expansion-panel-body {
        padding: 0;
    }

    .mat-expansion-panel,
    .mat-expansion-panel-header:hover {
        background: #fafafa !important;
        box-shadow: none;
        border-radius: 0;
    }

    .mat-expansion-panel-header {
        padding: 0;
    }

    .mat-expansion-panel-header.mat-expanded,
    .mat-expansion-panel-header.mat-expanded:hover {
        background: #fafafa;
    }

    .container {
        padding-bottom: 128px;
    }

    .card {
        padding: 16px 16px 0px;
        &:hover {
            background-color: #fafafa;
        }
    }
}
