<mat-accordion *ngIf="filters?.length">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ 'HiddenList' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let filter of filters">
            <mat-card
                fxLayout
                fxLayoutAlign="space-between center"
                class="card"
            >
                <div fxLayout fxLayoutAlign="start center">
                    <app-profile-picture
                        [profilePicture]="filter.filterUser?.profilePicture"
                    ></app-profile-picture>
                    <mat-card-header fxLayout fxLayoutAlign="start center">
                        <mat-card-title>{{
                            filter.filterUser?.displayedName
                        }}</mat-card-title>
                        <mat-card-subtitle>
                            {{ filter.filterUser?.birthPlace }}
                        </mat-card-subtitle>
                    </mat-card-header>
                </div>
                <button
                    mat-stroked-button
                    color="primary"
                    (click)="onClickFilter(filter.id)"
                    fxLayoutAlign="end center"
                >
                    {{ 'Display' | translate }}
                </button>
            </mat-card>
        </div>
    </mat-expansion-panel>
</mat-accordion>
