<form
    [formGroup]="userSearchForm"
    (ngSubmit)="onSubmitUserSearch()"
    class="form"
>
    <mat-card-content fxLayout="column">
        <mat-form-field>
            <mat-label>{{ 'Gender' | translate }}</mat-label>
            <mat-select formControlName="gender">
                <mat-option [value]="'Man' | translate">
                    {{ 'Man' | translate }}
                </mat-option>
                <mat-option [value]="'Woman' | translate">
                    {{ 'Woman' | translate }}
                </mat-option>
                <mat-option [value]="'Lesbian' | translate">
                    {{ 'Lesbian' | translate }}
                </mat-option>
                <mat-option [value]="'Gay' | translate">
                    {{ 'Gay' | translate }}
                </mat-option>
                <mat-option [value]="'Bisexual' | translate">
                    {{ 'Bisexual' | translate }}
                </mat-option>
                <mat-option [value]="'Transgender' | translate">
                    {{ 'Transgender' | translate }}
                </mat-option>
                <mat-option [value]="'Questioning' | translate">
                    {{ 'Questioning' | translate }}
                </mat-option>
                <mat-option [value]="'Other' | translate">
                    {{ 'Other' | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'BirthYear' | translate }}</mat-label>
            <mat-select formControlName="birthYear">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{ year }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Height' | translate }}</mat-label>
            <input matInput formControlName="height" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'BirthPlace' | translate }}</mat-label>
            <input matInput formControlName="birthPlace" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Agency' | translate }}</mat-label>
            <input matInput formControlName="agency" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Work' | translate }}</mat-label>
            <input matInput formControlName="work" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Hobby' | translate }}</mat-label>
            <input matInput formControlName="hobby" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'BrothersAndSisters' | translate }}</mat-label>
            <mat-select formControlName="brothersAndSisters">
                <mat-option
                    *ngFor="let brotherAndSister of brothersAndSisters"
                    [value]="brotherAndSister"
                >
                    <span *ngIf="brotherAndSister === 'only'">
                        {{ 'Only' | translate }}
                    </span>
                    <span *ngIf="brotherAndSister === 'eldest'">{{
                        'Eldest' | translate
                    }}</span>
                    <span *ngIf="brotherAndSister === 'second'">{{
                        'Second' | translate
                    }}</span>
                    <span *ngIf="brotherAndSister === 'third'">{{
                        'Third' | translate
                    }}</span>
                    <span *ngIf="brotherAndSister === 'other'">{{
                        'Other' | translate
                    }}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'EducationalBackground' | translate }}</mat-label>
            <input matInput formControlName="educationalBackground" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'SecondLanguage' | translate }}</mat-label>
            <input matInput formControlName="secondLanguage" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Holiday' | translate }}</mat-label>
            <mat-select formControlName="holiday">
                <mat-option *ngFor="let day of holiday" [value]="day">
                    <span *ngIf="day === 'weekend'">
                        {{ 'Weekend' | translate }}
                    </span>
                    <span *ngIf="day === 'weekday'">
                        {{ 'Weekday' | translate }}
                    </span>
                    <span *ngIf="day === 'irregular'">
                        {{ 'Irregular' | translate }}
                    </span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Instrument' | translate }}</mat-label>
            <input matInput formControlName="instrument" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Sport' | translate }}</mat-label>
            <input matInput formControlName="sport" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Drinking' | translate }}</mat-label>
            <mat-select formControlName="isDrinking">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Smoking' | translate }}</mat-label>
            <mat-select formControlName="isSmoking">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Pet' | translate }}</mat-label>
            <mat-select formControlName="hasPet">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Married' | translate }}</mat-label>
            <mat-select formControlName="isMarried">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="16px"
    >
        <button mat-button color="primary" class="search-button">
            {{ 'Search' | translate }}
        </button>
    </mat-card-actions>
</form>
