<nav mat-tab-nav-bar mat-align-tabs="center" class="routing-tabs" disableRipple>
    <a
        mat-tab-link
        class="mat-tab-link"
        *ngFor="let routeLink of routeLinks; let i = index"
        [routerLink]="routeLink.link"
        [active]="activeLinkIndex === i"
        [ngClass]="{ active: activeLinkIndex === i }"
        (click)="route(i)"
    >
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="router-link-icon">
                <div
                    *ngIf="
                        routeLink.icon === 'notifications' &&
                        notifications?.length !== 0
                    "
                    matBadge="{{ notifications?.length }}"
                    matBadgeSize="small"
                    matBadgeColor="warn"
                ></div>
                {{ routeLink.icon }}
            </mat-icon>
            <div class="router-link-label">{{ routeLink.label }}</div>
        </div>
    </a>
</nav>
