:host {
    display: columns;
    .message-sender {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
:host {
    .container {
        margin-top: -69px;
    }
    @media screen and (max-width: 700px) {
        .container {
            margin-top: 0;
        }
    }
}
