<div class="container">
    <app-back-to-pre-page [pageName]="pageName"></app-back-to-pre-page>
    <div *ngIf="!(isRoom$ | async)">
        <app-message-room-is-false-p></app-message-room-is-false-p>
    </div>
    <app-message-room-header-p
        [companion]="companion$ | async"
        (clickAccount)="onReceivedClickAccount($event)"
    ></app-message-room-header-p>
    <app-message-room-screen-p
        [currentRoomId]="currentRoomId$ | async"
        [messages]="messages$ | async"
        [profile]="profile$ | async"
        [companion]="companion$ | async"
        (clickMyProfilePicture)="onReceivedClickMyProfilePicture()"
        (clickCompanionProfilePicture)="onReceivedClickCompanionProfilePicture($event)"
    ></app-message-room-screen-p>
    <app-message-room-message-sender-p
        class="message-sender"
        fxLayoutAlign="center center"
        (sendMessage)="onReceivedSendMessage($event)"
    ></app-message-room-message-sender-p>
</div>

