:host {
    display: none;
    @media screen and (max-width: 700px) {
        display: block;
        .header {
            position: fixed;
            width: 100%;
            background: #fafafa;
            z-index: 999;
            opacity: 1;
            top: 0;
            color: #3e4555;
            padding: 48px 24px 12px;
            border-bottom: 1px solid #0000001f;
            .image {
                height: 24px;
                object-fit: cover;
            }
        }
    }
}
