<ng-container>
    <div class="user-bg" fxLayout="column" fxLayoutAlign="center center">
        <div
            *ngIf="
                user?.profilePicture;
                then profilePictureIsTrue;
                else profilePictureIsFalse
            "
        ></div>
        <ng-template #profilePictureIsTrue
            ><img src="{{ user?.profilePicture }}" class="image"
        /></ng-template>
        <ng-template #profilePictureIsFalse
            ><img src="/assets/images/png/default-avatar.png" class="image" />
        </ng-template>
    </div>
    <div class="card">
        <mat-card-header fxLayoutAlign="start">
            <mat-card-title>
                <div fxLayout fxLayoutAlign="start center" fxLayoutGap="12px">
                    <div>
                        {{ user?.stageName ? user?.stageName : '未設定' }}
                    </div>
                    <app-position [position]="user?.position"></app-position>
                    <button
                        mat-icon-button
                        *ngIf="matched"
                        (click)="onClickToDetails()"
                    >
                        <mat-icon>forward_to_inbox</mat-icon>
                    </button>
                </div>
            </mat-card-title>
            <mat-card-subtitle
                >{{ user?.age }}歳&nbsp;&nbsp;{{
                    user?.gender
                }}</mat-card-subtitle
            >
        </mat-card-header>
        <mat-card-content>
            <div class="section">
                <p><strong>自己紹介</strong></p>
                <p>{{ user?.description }}</p>
            </div>
            <div fxLayout="column" fxLayoutAlign="center" class="section">
                <p><strong>基本情報</strong></p>
                <app-profile-table [profile]="user"></app-profile-table>
            </div>
        </mat-card-content>
    </div>
</ng-container>
