<div class="card" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="signUpForm" (ngSubmit)="onClickSignUp()">
        <mat-card-content fxLayout="column">
            <div
                fxLayout="row"
                class="flex-field-container"
                fxLayoutAlign="center"
            >
                <mat-form-field class="name-field">
                    <mat-label>性</mat-label>
                    <input matInput formControlName="realLastName" required />
                    <mat-error
                        *ngIf="
                            signUpForm.get('realLastName')?.hasError('required')
                        "
                        >・必須項目です</mat-error
                    >
                </mat-form-field>
                <mat-form-field class="name-field">
                    <mat-label>名</mat-label>
                    <input matInput formControlName="realFirstName" required />
                    <mat-error
                        *ngIf="
                            signUpForm
                                .get('realFirstName')
                                ?.hasError('required')
                        "
                        >・必須項目です</mat-error
                    >
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>性別</mat-label>
                <mat-select formControlName="gender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender">
                        {{ gender }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="signUpForm.get('gender')?.hasError('required')"
                    >・必須項目です</mat-error
                >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required />
                <mat-error *ngIf="signUpForm.get('email')?.hasError('required')"
                    >・必須項目です</mat-error
                >
            </mat-form-field>
            <mat-form-field>
                <mat-label>パスワード</mat-label>
                <input
                    matInput
                    [type]="hide ? 'password' : 'tel'"
                    formControlName="password"
                    [attr.aria-pressed]="hide"
                    required
                />
                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hide = !hide"
                >
                    <mat-icon>{{
                        hide ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
                </button>
                <mat-error
                    *ngIf="signUpForm.get('password')?.hasError('required')"
                    >・必須項目です</mat-error
                >
            </mat-form-field>
            <mat-form-field>
                <mat-label>確認用パスワード</mat-label>
                <input
                    matInput
                    [type]="hide2 ? 'password' : 'tel'"
                    formControlName="passwordConfirmation"
                    [attr.aria-pressed]="hide2"
                    required
                />
                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hide2 = !hide2"
                >
                    <mat-icon>{{
                        hide2 ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
                </button>
                <mat-error
                    *ngIf="
                        signUpForm
                            .get('passwordConfirmation')
                            ?.hasError('required')
                    "
                    >・必須項目です</mat-error
                >
            </mat-form-field>
            <div class="mb-4">
                <mat-checkbox
                    color="primary"
                    formControlName="checkedTerms"
                    fxLayout
                    fxLayoutAlign="center center"
                    >利用規約に同意する</mat-checkbox
                >
                <mat-error
                    fxLayout
                    fxLayoutAlign="center center"
                    class="terms-err-msg"
                    *ngIf="
                        !onceSignUp &&
                        signUpForm.get('checkedTerms')?.hasError('checkedTerms')
                    "
                >
                    ・利用規約に同意してください
                </mat-error>
            </div>
        </mat-card-content>
        <mat-card-actions
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="16px"
        >
            <button mat-button color="primary">サインアップ</button>
            <p routerLink="/sign-in" class="router-link">
                既にアカウントをお持ちの方
            </p>
            <p routerLink="/terms" class="router-link">利用規約</p>
            <p routerLink="/privacy-policy" class="router-link">
                プライバシーポリシー
            </p>
        </mat-card-actions>
    </form>
</div>
