<mat-card>
    <form [formGroup]="signUpForm" (ngSubmit)="onClickSignUp()">
        <mat-card-content fxLayoutAlign="center">サインアップ</mat-card-content>
        <mat-card-content fxLayout="column">
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="realLastName" required />
                <mat-error *ngIf="signUpForm.get('realLastName')?.hasError('required')">・必須項目です</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="realFirstName" required />
                <mat-error *ngIf="signUpForm.get('realFirstName')?.hasError('required')">・必須項目です</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Stage Name</mat-label>
                <input matInput formControlName="stageName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender">
                        {{ gender }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="signUpForm.get('gender')?.hasError('required')">・必須項目です</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Birth year</mat-label>
                <mat-select formControlName="birthYear" required>
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{ year }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="signUpForm.get('birthYear')?.hasError('required')">・必須項目です</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Birth month</mat-label>
                <mat-select formControlName="birthMonth" required>
                    <mat-option *ngFor="let month of months" [value]="month">
                        {{ month }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="signUpForm.get('birthMonth')?.hasError('required')">・必須項目です</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Birth day</mat-label>
                <mat-select formControlName="birthDay" required>
                    <mat-option *ngFor="let day of days" [value]="day">
                        {{ day }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="signUpForm.get('birthDay')?.hasError('required')">・必須項目です</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Birth Place</mat-label>
                <mat-select formControlName="birthPlace" required>
                    <mat-option *ngFor="let birthPlace of birthPlaces" [value]="birthPlace">
                        {{ birthPlace }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="signUpForm.get('birthPlace')?.hasError('required')">・必須項目です</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Agency</mat-label>
                <input matInput formControlName="agency" />
            </mat-form-field>
            <mat-label>プロフィール画像</mat-label>
            <input type="file" accept="image/*" id="customImage" (input)="inputProfilePicture($event)" />
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required />
                <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">・必須項目です</mat-error>
            </mat-form-field>
            <mat-form-field fxLayout="row">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    [type]="hide ? 'password' : 'tel'"
                    formControlName="password"
                    [attr.aria-pressed]="hide"
                    required
                />
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">・必須項目です</mat-error>
            </mat-form-field>
            <mat-form-field fxLayout="row">
                <mat-label>Password confirmation</mat-label>
                <input
                    matInput
                    [type]="hide2 ? 'password' : 'tel'"
                    formControlName="passwordConfirmation"
                    [attr.aria-pressed]="hide2"
                    required
                />
                <button mat-icon-button matSuffix type="button" (click)="hide2 = !hide2">
                    <mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="signUpForm.get('passwordConfirmation')?.hasError('required')"
                    >・必須項目です</mat-error
                >
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
            <button mat-raised-button style="background-color: #00ff00">サインアップ</button>
            <a routerLink="/sign-in">サインイン</a>
        </mat-card-actions>
    </form>
</mat-card>
