:host {
    .message-sender-container {
        border-top: 1px solid #0000001f;
        width: 700px;
        padding: 16px 0;
        .message-sender {
            margin: 0 auto;
            width: 90%;
        }
    }
}
