:host {
    .user-search {
        margin: 24px 0;
    }
    .user-list {
        margin: 64px;
    }
    @media screen and (max-width: 700px) {
        .user-list {
            position: absolute;
            top: 160px;
            margin: 24px 0 64px;
            padding-bottom: 24px;
        }
    }
}
