:host {
    .container {
        padding-top: 80px;
    }
    .user-search {
        margin: 24px 0;
    }
    .user-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 64px;
        margin: 64px;
    }

    .mobile {
        .user-list {
            gap: 24px;
            margin: 24px 24px 48px;
            padding-bottom: 24px;
        }
    }
}
