<form [formGroup]="updateUserForm" (ngSubmit)="onClickUpdate()" class="form">
    <mat-card-content fxLayout="column">
        <mat-form-field>
            <mat-label>性</mat-label>
            <input matInput formControlName="realLastName" required />
            <mat-error *ngIf="updateUserForm.get('realLastName')?.hasError('required')">・必須項目です</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>名</mat-label>
            <input matInput formControlName="realFirstName" required />
            <mat-error *ngIf="updateUserForm.get('realFirstName')?.hasError('required')">・必須項目です</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>芸名</mat-label>
            <input matInput formControlName="stageName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>ボケ/ツッコミ</mat-label>
            <mat-select formControlName="position">
                <mat-option *ngFor="let position of positions" [value]="position">
                    {{ position }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>性別</mat-label>
            <mat-select formControlName="gender" required>
                <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{ gender }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="updateUserForm.get('gender')?.hasError('required')">・必須項目です</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>誕生年</mat-label>
            <mat-select formControlName="birthYear" required>
                <mat-option *ngFor="let year of years" [value]="year">
                    {{ year }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="updateUserForm.get('birthYear')?.hasError('required')">・必須項目です</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>誕生月</mat-label>
            <mat-select formControlName="birthMonth" required>
                <mat-option *ngFor="let month of months" [value]="month">
                    {{ month }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="updateUserForm.get('birthMonth')?.hasError('required')">・必須項目です</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>誕生日</mat-label>
            <mat-select formControlName="birthDay" required>
                <mat-option *ngFor="let day of days" [value]="day">
                    {{ day }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="updateUserForm.get('birthDay')?.hasError('required')">・必須項目です</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>地元</mat-label>
            <mat-select formControlName="birthPlace" required>
                <mat-option *ngFor="let birthPlace of birthPlaces" [value]="birthPlace">
                    {{ birthPlace }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="updateUserForm.get('birthPlace')?.hasError('required')">・必須項目です</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>事務所</mat-label>
            <input matInput formControlName="agency" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>説明</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-label>プロフィール画像</mat-label>
        <input type="file" accept="image/*" id="customImage" (input)="inputProfilePicture($event)" />
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
        <button mat-raised-button style="background-color: orange">編集する</button>
    </mat-card-actions>
</form>
