<div class="box">
    <div><mat-icon color="warn">delete</mat-icon></div>
    <div>
        <strong>{{ 'DeleteAll' | translate }}?</strong><br />{{
            'RealyDelete' | translate
        }}
    </div>
    <div class="button">
        <button mat-button [mat-dialog-close]="true">
            {{ 'Close' | translate }}
        </button>
        <button
            mat-button
            color="warn"
            (click)="deleteNotifications()"
            class="action"
        >
            {{ 'Delete' | translate }}
        </button>
    </div>
</div>
