<div class="container">
    <ng-container *ngFor="let notification of notifications">
        <mat-card
            class="card"
            (click)="
                onClickNotificationsToUserDetail(
                    notification.currentUserId,
                    notification.id,
                    notification.isMessage
                )
            "
        >
            <div fxLayout fxLayoutAlign="start center">
                <app-profile-picture
                    [profilePicture]="
                        getProfilePicture(notification.currentUserId)
                    "
                ></app-profile-picture>
                <div class="notification-message">
                    {{ getMessage(notification) }}
                </div>
            </div>
        </mat-card>
    </ng-container>
</div>
