:host {
    .search-container {
        width: 100vw;
        position: fixed;
        top: 112px;
        z-index: 1000;
        .search-form {
            width: 90%;
            background-color: #ececec;
            .input {
                color: #00000061;
            }
            .icon {
                color: #00000061;
                line-height: inherit;
            }
        }
    }
}
