:host {
    .search-container {
        width: 100vw;
        .search-form {
            width: 80%;
            background-color: #0000000a;
            .input {
                color: #00000061;
            }
            .icon {
                color: #00000061;
                line-height: inherit;
            }
        }
    }
}
