<table>
    <tr>
        <td class="py-2 pr-4">{{ 'Nickname' | translate }}</td>
        <td>
            {{
                profile?.stageName ? profile?.stageName : ('Unset' | translate)
            }}
        </td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Realname' | translate }}</td>
        <td>{{ profile?.realLastName }}{{ profile?.realFirstName }}</td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Age' | translate }}</td>
        <td>{{ age }}{{ 'YearsOld' | translate }}</td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Height' | translate }}</td>
        <td>
            {{ profile?.height ? profile?.height : ('Unset' | translate) }} cm
        </td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Gender' | translate }}</td>
        <td>
            <span *ngIf="profile?.gender === 'man'">
                {{ 'Man' | translate }}
            </span>
            <span *ngIf="profile?.gender === 'woman'">
                {{ 'Woman' | translate }}
            </span>
            <span *ngIf="profile?.gender === 'lesbian'">
                {{ 'Lesbian' | translate }}
            </span>
            <span *ngIf="profile?.gender === 'gay'">
                {{ 'Gay' | translate }}
            </span>
            <span *ngIf="profile?.gender === 'bisexual'">
                {{ 'Bisexual' | translate }}
            </span>
            <span *ngIf="profile?.gender === 'transgender'">
                {{ 'Transgender' | translate }}
            </span>
            <span *ngIf="profile?.gender === 'questioning'">
                {{ 'Questioning' | translate }}
            </span>
            <span *ngIf="profile?.gender === 'other'">
                {{ 'Other' | translate }}
            </span>
        </td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'BirthPlace' | translate }}</td>
        <td>{{ profile?.birthPlace }}</td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Agency' | translate }}</td>
        <td>{{ profile?.agency ? profile?.agency : ('Unset' | translate) }}</td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Work' | translate }}</td>
        <td>{{ profile?.work ? profile?.work : ('Unset' | translate) }}</td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Hobby' | translate }}</td>
        <td>{{ profile?.hobby ? profile?.hobby : ('Unset' | translate) }}</td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'BrothersAndSisters' | translate }}</td>
        <td>
            <span *ngIf="profile?.brothersAndSisters === 'only'">
                {{ 'Only' | translate }}
            </span>
            <span *ngIf="profile?.brothersAndSisters === 'eldest'">{{
                'Eldest' | translate
            }}</span>
            <span *ngIf="profile?.brothersAndSisters === 'second'">{{
                'Second' | translate
            }}</span>
            <span *ngIf="profile?.brothersAndSisters === 'third'">{{
                'Third' | translate
            }}</span>
            <span *ngIf="profile?.brothersAndSisters === 'other'">{{
                'Other' | translate
            }}</span>
            <span *ngIf="!profile?.brothersAndSisters">
                {{ 'Unset' | translate }}
            </span>
        </td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'EducationalBackground' | translate }}</td>
        <td>
            {{
                profile?.educationalBackground
                    ? profile?.educationalBackground
                    : ('Unset' | translate)
            }}
        </td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'SecondLanguage' | translate }}</td>
        <td>
            {{
                profile?.secondLanguage
                    ? profile?.secondLanguage
                    : ('Unset' | translate)
            }}
        </td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Holiday' | translate }}</td>
        <td>
            <span *ngIf="profile?.holiday === 'weekend'">
                {{ 'Weekend' | translate }}
            </span>
            <span *ngIf="profile?.holiday === 'weekday'">
                {{ 'Weekday' | translate }}
            </span>
            <span *ngIf="profile?.holiday === 'irregular'">
                {{ 'Irregular' | translate }}
            </span>
            <span *ngIf="!profile?.holiday">
                {{ 'Unset' | translate }}
            </span>
        </td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Instrument' | translate }}</td>
        <td>
            {{
                profile?.instrument
                    ? profile?.instrument
                    : ('Unset' | translate)
            }}
        </td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Sport' | translate }}</td>
        <td>{{ profile?.sport ? profile?.sport : ('Unset' | translate) }}</td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Drinking' | translate }}</td>
        <td>{{ profile?.isDrinking ? 'Yes' : 'No' }}</td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Smoking' | translate }}</td>
        <td>{{ profile?.isSmoking ? 'Yes' : 'No' }}</td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Pet' | translate }}</td>
        <td>{{ profile?.hasPet ? 'Yes' : 'No' }}</td>
    </tr>
    <tr>
        <td class="py-2 pr-4">{{ 'Married' | translate }}</td>
        <td>{{ profile?.isMarried ? 'Yes' : 'No' }}</td>
    </tr>
</table>
