<div class="message-screen" #scroll>
    <div *ngFor="let message of messages; let i = index">
        <div *ngIf="currentRoomId === message.roomId" >
            <div *ngIf="profile?.id === message.userId; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div class="message-content">
                    <div fxLayout="row" fxLayoutAlign="end">
                        <div fxLayout="column">
                            <p fxLayoutAlign="end" class="message-name">{{ profile?.realLastName }}{{ profile?.realFirstName}}</p>
                            <mat-card class="my-message">{{ message.message }}</mat-card>
                            <p fxLayoutAlign="end" class="message-time">{{ relativeTime(message.createdAt) }}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div fxLayout="row" fxLayoutAlign="start" class="message-content">
                    <div class="message-content">
                        <div (click)="onClickCompanionProfilePicture(companion?.id)">
                            <div *ngIf="companion?.profilePicture; then thenBlock; else elseBlock"></div>
                            <ng-template #thenBlock>
                                <img class="avatar" src="{{ companion?.profilePicture }}" />
                            </ng-template>
                            <ng-template #elseBlock>
                                <img class="avatar" src="/assets/images/png/default-avatar.png" />
                            </ng-template>
                        </div>
                    </div>
                    <div fxLayout="column">
                        <p class="message-name">{{ companion?.realLastName }}{{ companion?.realFirstName}}</p>
                        <mat-card class="your-message"> {{ message.message }}</mat-card>
                        <p class="message-time">{{ relativeTime(message.createdAt) }}</p>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <app-message-room-scroll-to-bottom-button-p class="scroll-to-bottom" (clickScrollToBottom)="scrollToBottom()"></app-message-room-scroll-to-bottom-button-p>
</div>