:host {
    .message-screen {
        padding: 12px 0;
        width: 700px;
        height: calc(100vh - 190px);
        overflow-y: scroll;
        background-color: #fff;
        .message-content {
            padding: 0 8px;
            margin: 8px 0;
            &:active {
                background-color: #fafafa;
            }
        }
        .message-name {
            margin-bottom: -8px;
        }
        .message-name,
        .message-time {
            font-size: 8px;
            color: #888;
        }
        .my-message {
            box-shadow: 0 2px 1px -1px #0003, 0 1px 1px 0 #00000024,
                0 1px 3px 0 #0000001f;
            border-radius: 24px 24px 0 24px;
            max-width: 350px;
            overflow-y-wrap: break-word;
            background-color: orange;
            color: white;
            margin-top: 12px;
        }
        .your-message {
            box-shadow: 0 2px 1px -1px #0003, 0 1px 1px 0 #00000024,
                0 1px 3px 0 #0000001f;
            border-radius: 24px 24px 24px 0;
            max-width: 50vw;
            overflow-y-wrap: break-word;
            margin-top: 12px;
        }
    }
    @media screen and (max-width: 700px) {
        .message-screen {
            width: 100vw;
            height: calc(100vh - 180px);
            .my-message {
                max-width: 50vw;
            }
        }
    }
}
