:host {
    .my-page-tree-invisible {
        display: none;
    }

    .tree-container {
        padding-bottom: 128px;
    }

    .my-page-tree ul,
    .my-page-tree li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }

    .my-page-tree .mat-nested-tree-node div[role='group'] {
        padding-left: 40px;
    }

    .my-page-tree div[role='group'] > .mat-tree-node {
        padding-left: 40px;
    }
}
