:host {
    .action {
        max-width: 100%;
        .already-like-button {
            background-color: #fff;
            color: #448aff;
            position: fixed;
            bottom: 24px;
            left: calc(((100vw - 700px) / 2) + 35px);
            right: auto;
            margin: auto;
            width: 406px;
            z-index: 2;
        }
        .still-liked-button {
            background-color: #ececec;
            color: #7a7a7a;
            position: fixed;
            bottom: 24px;
            left: calc(((100vw - 700px) / 2) + 35px);
            right: auto;
            margin: auto;
            width: 406px;
            z-index: 2;
        }
        .next-user {
            background-color: #fff;
            color: #448aff;
            position: fixed;
            bottom: 24px;
            left: auto;
            right: calc(((100vw - 700px) / 2) + 35px);
            margin: auto;
            width: 154px;
            z-index: 2;
        }
    }
    .icon {
        font-size: 20px;
    }
    @media screen and (max-width: 700px) {
        .action {
            .already-like-button {
                left: 5vw;
                bottom: 64px;
                width: 52vw;
            }
            .still-liked-button {
                left: 5vw;
                bottom: 64px;
                width: 52vw;
            }
            .next-user {
                right: 5vw;
                bottom: 64px;
                width: 33vw;
            }
        }
    }
}
