<div class="action" fxLayoutAlign="end">
    <div *ngIf="alreadyLikedByMySelf; then unlike; else like"></div>
    <ng-template #unlike>
        <button
            mat-stroked-button
            fxLayout="row"
            fxLayoutAlign="center center"
            class="still-liked-button"
            (click)="onClickUnlikeButton()"
        >
            組みたい済<mat-icon class="icon">thumb_up</mat-icon>
        </button>
    </ng-template>
    <ng-template #like>
        <button
            mat-stroked-button
            fxLayout="row"
            color="primary"
            fxLayoutAlign="center center"
            class="already-like-button"
            (click)="onClickLikeButton()"
        >
            組みたい<mat-icon class="icon">thumb_up</mat-icon>
        </button>
    </ng-template>
</div>
