<div class="action">
    <div *ngIf="alreadyLikedByMySelf; then unlike; else like"></div>
    <ng-template #unlike>
        <button
            mat-button
            fxLayout="row"
            fxLayoutAlign="center center"
            class="still-liked-button"
            (click)="onClickUnlikeButton()"
        >
            {{ 'TeamedUp' | translate
            }}<mat-icon class="icon">thumb_up</mat-icon>
        </button>
    </ng-template>
    <ng-template #like>
        <button
            mat-button
            fxLayout="row"
            color="primary"
            fxLayoutAlign="center center"
            class="already-like-button"
            (click)="onClickLikeButton()"
        >
            {{ 'TeamUp' | translate }}<mat-icon class="icon">thumb_up</mat-icon>
        </button>
    </ng-template>
    <button mat-button (click)="onClickNextButton()" class="next-user">
        {{ 'Next' | translate }}<mat-icon class="icon">next_plan</mat-icon>
    </button>
</div>
