<div [ngClass]="{ mobile: isMobile }">
    <div (click)="onClickUsersToDetail()" class="card">
        <div class="image-container">
            <img
                *ngIf="user?.profilePicture"
                [src]="user?.profilePicture"
                class="image"
            />
            <img
                *ngIf="!user?.profilePicture"
                src="/assets/images/png/default-avatar.png"
                class="image"
            />
            <app-position
                [position]="user?.position"
                class="position"
            ></app-position>
        </div>
        <mat-card-content>
            <div fxLayout fxLayoutAlign="start center">
                <div class="birth-place">{{ user?.birthPlace }}</div>
            </div>
            <mat-card-subtitle>{{ user?.description }}</mat-card-subtitle>
        </mat-card-content>
    </div>
</div>
