:host {
    .card {
        margin: 0 auto;
        .birth-place {
            margin-right: 12px;
        }
        .image {
            width: 256px;
            height: 256px;
            border-radius: 16px;
            margin: 4px auto;
        }
    }
    @media screen and (max-width: 700px) {
        .card {
            .card-title {
                font-size: 14px;
            }
            .image {
                width: 160px;
                height: 160px;
                margin: 0 auto;
            }
        }
    }
}
