<ng-container>
  <div (click)="onClickUsersToDetail()" class="card">
        <div class="image-container">
            <img *ngIf="user?.profilePicture" [src]="user?.profilePicture" class="image" />
            <img *ngIf="!user?.profilePicture" src="/assets/images/png/default-avatar.png" class="image"/>
        </div>
        <mat-card-content>
            <div>{{ user?.birthPlace }}&nbsp;&nbsp;{{ user?.position }}</div>
            <mat-card-subtitle>{{ user?.description }}</mat-card-subtitle>
        </mat-card-content>
  </div>
</ng-container>
