:host {
    .container {
        width: 700px;
        margin: 0 auto;
        .button {
            position: fixed;
            bottom: 72px;
            right: calc((100vw - 700px) / 2 + 36px);
            background-color: #fff;
            border: 1px solid #ddd;
            color: #448aff;
        }
    }
    @media screen and (max-width: 700px) {
        .container {
            .button {
                left: 0;
                right: auto;
                margin-left: 85%;
            }
        }
    }
}
