<app-back-to-pre-page [needsMenu]="true" [menus]="menus"></app-back-to-pre-page>
<app-user-detail-p
    [user]="detailUser$ | async"
    [matched]="matched$ | async"
    (clickUserToMessage)="onReceivedClickUserToMessage()"
></app-user-detail-p>
<app-user-detail-like-p
    [alreadyLikedByMySelf]="alreadyLikedByMySelf$ | async"
    (clickLikeButton)="onReceivedClickLikeButton()"
    (clickUnlikeButton)="onReceivedClickUnlikeButton()"
    (clickNextButton)="onReceivedClickNextButton()"
></app-user-detail-like-p>
