<div class="orange-box"></div>

<div class="wave-container">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="#ffcc99" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="#ff9966" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="#ff9900" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="orange" />
  </g>
  </svg>
</div>

<div fxLayout="row" fxLayoutAlign="center center" class="service">
  <img src="/assets/images/png/mike.png" class="image">
  <span>CmCn</span>
</div>