<div
    fxLayout="column"
    class="contents"
    [ngClass]="{
        messaging: (isMessaging$ | async),
        mobile: (isMobile$ | async)
    }"
>
    <app-title-header *ngIf="isVisibleMobileHeader$ | async"></app-title-header>
    <app-header-c
        style="z-index: 2"
        *ngIf="isVisibleHeaders$ | async"
        class="header"
    ></app-header-c>
    <div
        [ngClass]="{
            'pc-like-routing-tab-content':
                (isVisibleLikeRoutingTab$ | async) && !(isMobile$ | async)
        }"
    >
        <app-like-routing-tabs
            *ngIf="isVisibleLikeRoutingTab$ | async"
        ></app-like-routing-tabs>
        <app-content
            style="z-index: 0; padding-top: 100px"
            class="content"
        ></app-content>
    </div>
</div>
