:host {
    .card {
        .router-link {
            color: #888;
        }
        .privacy-policy {
            color: #888;
            font-size: 12px;
        }
    }
    mat-form-field {
        margin: 0 auto;
        width: 348px;
        margin-bottom: 12px;
    }

    mat-icon {
        font-size: 100%;
    }
}
