<mat-card fxLayout fxLayoutAlign="space-between center" class="card">
    <div fxLayout fxLayoutAlign="space-between center">
        <div fxLayout>
            <app-profile-picture
                [profilePicture]="user?.profilePicture"
            ></app-profile-picture>
            <mat-card-header>
                <mat-card-title>{{ user?.displayedName }}</mat-card-title>
                <mat-card-subtitle
                    fxLayout
                    fxLayoutAlign="start center"
                    fxLayoutGap="12px"
                    ><div>{{ user?.birthPlace }}</div>
                    <app-position [position]="user?.position"></app-position
                ></mat-card-subtitle>
            </mat-card-header>
        </div>
        <button mat-button>表示</button>
    </div>
</mat-card>
