<ng-container *ngFor="let user of users; let i = index" class="user">
    <div *ngIf="profile?._id !== user._id">
        <mat-card>
            <mat-card-header>
                <mat-card-title> {{ user.realLastName }}{{ user.realFirstName }}</mat-card-title>
                <mat-card-subtitle
                    >{{ birthDayToAge(user.birthYear, user.birthMonth, user.birthDay) }}歳：{{ user.gender }}</mat-card-subtitle
                >
            </mat-card-header>
            <div *ngIf="user.profilePicture; then profilePictureIsTrue else profilePictureIsFalse"></div>
            <ng-template #profilePictureIsTrue><img src="{{ user.profilePicture }}" class="image" /></ng-template>
            <ng-template #profilePictureIsFalse
                ><img src="/assets/images/png/default-avatar.png" class="image"
            /></ng-template>
            <mat-card-content>{{user.description ? user.description: 'こんにちは'}}</mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-between">
                <div *ngIf="alreadyLiked(user._id); then unlike else like"></div>
                <ng-template #unlike
                    ><button mat-button  (click)="onClickUnlikeButton(user._id)">
                        <p style="color: orange">組みたい<mat-icon>thumb_up</mat-icon></p>
                    </button></ng-template
                >
                <ng-template #like
                    ><button mat-button (click)="onClickLikeButton(user._id)">
                        <p>組みたい<mat-icon>thumb_up</mat-icon></p>
                    </button></ng-template
                >
                <button mat-raised-button (click)="onClickUsersToDetail(user._id)">詳細を見る</button>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-container>