:host {
    .message-room-header {
        width: 700px;
    }
    .account-menu {
        height: 45px;
        & > button {
            height: inherit;
        }
    }
    .avatar {
        width: 44px;
        height: 44px;
        border-radius: 100%;
    }
}
