<mat-toolbar class="message-room-header">
    <div class="account-menu" (click)="onClickAccount(companion?.id)">
        <button mat-button>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
                <div *ngIf="companion?.profilePicture; then thenBlock; else elseBlock"></div>
                <ng-template #thenBlock>
                    <img class="avatar" src="{{ companion?.profilePicture }}" />
                </ng-template>
                <ng-template #elseBlock>
                    <img class="avatar" src="/assets/images/png/default-avatar.png" />
                </ng-template>
                <span fxHide.xs>{{ companion?.realLastName }}{{ companion?.realFirstName }}</span>
            </div>
        </button>
    </div>
</mat-toolbar>
