<mat-toolbar class="message-room-header">
    <div class="account-menu" (click)="onClickAccount(user?.id)">
        <button mat-button>
            <div
                fxLayout="row"
                fxLayoutAlign="center center"
                fxLayoutGap="12px"
            >
                <img
                    class="avatar"
                    *ngIf="user?.profilePicture"
                    src="{{ user?.profilePicture }}"
                />
                <img
                    *ngIf="!user?.profilePicture"
                    class="avatar"
                    src="/assets/images/png/default-avatar.png"
                />
                <span>{{ user?.displayedName }}</span>
            </div>
        </button>
    </div>
</mat-toolbar>
