<div class="account-menu">
    <button mat-button matTooltip="アカウント" [matMenuTriggerFor]="accountMenu">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
            <div *ngIf="profile?.profilePicture; then thenBlock; else elseBlock"></div>
            <ng-template #thenBlock>
                <img class="avatar" src="{{ profile?.profilePicture }}" />
            </ng-template>
            <ng-template #elseBlock>
                <img class="avatar" src="/assets/images/png/default-avatar.png" />
            </ng-template>
            <span fxHide.xs>{{ profile?.realLastName }}{{ profile?.realFirstName }}</span>
            <mat-icon>expand_more</mat-icon>
        </div>
    </button>
</div>

<mat-menu #accountMenu="matMenu">
    <ng-container *ngFor="let item of headerAccountMenus; let i = index">
        <ng-container *ngIf="item.routerLink">
            <a mat-menu-item [routerLink]="item.routerLink" (click)="onClickAccountMenu(i, item)">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
            </a>
        </ng-container>
    </ng-container>
</mat-menu>
