<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            {{ profile?.realLastName }}{{ profile?.realFirstName }}：{{ profile?.position }}</mat-card-title
        >
        <mat-card-subtitle>{{ age }}歳：{{ profile?.gender }}</mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="profile?.profilePicture; then profilePictureIsTrue; else profilePictureIsFalse"></div>
    <ng-template #profilePictureIsTrue><img src="{{ profile?.profilePicture }}" class="image" /></ng-template>
    <ng-template #profilePictureIsFalse><img src="/assets/images/png/default-avatar.png" class="image" /></ng-template>
    <mat-card-content>
        <div>{{ profile?.description ? profile?.description : 'こんにちは' }}</div>
        <ul>
            <li>{{ profile?.stageName }}</li>
            <li>{{ profile?.birthPlace }}</li>
            <li>{{ profile?.agency }}</li>
            <li>{{ profile?.email }}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
        <button mat-raised-button (click)="onClickToProfileSetting()">プロフィールを編集する</button>
        <button mat-raised-button (click)="signOut()">サインアウト</button>
    </mat-card-actions>
</mat-card>
