:host {
    .button {
        padding: 4px 24px;
        opacity: 0.6;
        color: #000000de;
    }
    @media screen and (max-width: 700px) {
        .button {
            border-bottom: 1px solid #0000001f;
        }
    }
}
