:host {
    .button {
        padding: 4px 8px;
        opacity: 0.6;
        color: #3e4555;
        border-bottom: 1px solid #0000001f;
    }
    .mat-icon-button {
        color: #448aff;
    }
    @media screen and (max-width: 700px) {
        .button {
            padding: 40px 8px 4px;
        }
        position: fixed;
        background-color: #fff;
        width: 100%;
        z-index: 999;
        opacity: 1;
    }
}
